/* This is the code for the main header at the top*/
header{
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    color: green;
    font-weight: bold;
    border: 2px solid green;
    padding: 30px, 20px;
}

body{
    margin-top: 40px;
}

/* These sections deal with the header at the top and how the links are formated */
.logo{
    font-size: 24px;
    font-weight: bold;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child{
    margin-right: 0;
}

nav ul li a{
    text-decoration: none;
    color: green;
    font-weight: bold;
}

nav ul li a:hover{
    text-decoration: underline;
    color: darkmagenta;
}

.container{
    text-align: center;
    padding: 20px;
}

.about-header{
    font-weight: bolder;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    text-decoration: underline;
}
img:hover {
    border: yellow solid 5px;
  }
.content-wrap{
    display: flex;
}

.about-me{
    text-align: left;
    flex-basis: 70%;
    margin: 0;
}

.right-aside{
    width: 25%;
}

.right-aside img{
    width: 70%;
    display: block;
}

.left-aside section{
    margin-bottom: 20px;
}

.img-container{
    display: flex;
    text-align: center;
}

.my-work,
.my-work-two{
    flex-basis: 50%;
}

.my-work img{
    width: 80%;
    height: 300px;
}

.my-work-two img{
    width: 80%;
    height: 300px;
}

.footer{
    background-color: lightgray;
    color: green;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    border: 2px solid green;
    padding: 20px, 0;
}

.foot-contact{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.foot-contact li{
    margin: 0 20px;
}

.foot-contact a{
    text-decoration: none;
    color: green;
    font-weight: bold;
}

.foot-contact li a:hover{
    text-decoration: underline;
    color: darkmagenta;
}